.form{
	background-color:rgba(0, 0, 0, 0.7);
	background-image:
	radial-gradient(white, rgba(255,255,255,.3) 3px, transparent 7.5px),
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 15px),
	radial-gradient(white, rgba(255,255,255,.1) 1px, transparent 20px),
	radial-gradient(rgba(255,255,255,.5), rgba(255,255,255,.13) 2px, transparent 30px);
	background-size: 160px 45px, 100px 30px, 175px 35px, 75px 15px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	width: 700px;
	z-index: 1
}